@font-face {
  font-family: "gotham";
  src: url("/font/GothamHTF-Book.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "gotham";
  background: #fff68f;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* READY TO PLAY BUTTON */
.box button {
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(to bottom, #6a3093, #a044ff);
  color: white;
}


/* RULES BUTTON */
.btn {
  font-family: "gotham";
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: rgb(34, 34, 34);
  color: #fff;
  border-radius: 5px;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}
.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}
.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  min-height: 100vh;
  color: #fff;
  transform: translateX(-500px);
  transition: transform 0.3s ease-in-out;
}
.rules.show {
  transform: translateX(-10px);
}